@import "../../../styles/main.scss";

.meli-item-details {
  border-radius: $item-details-radius;
  padding: $item-details-padding;
  background-color: #fff;
  margin: $item-details-margin 0;

  .meli-grid {
    margin-top: -$item-details-margin-large;

    & > * {
      margin-top: $item-details-margin-large;
    }

    p {
      padding: 20px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .meli-column-picture {
    width: 100%;

    &,
    img {
      width: 100%;
    }

    @include breakpoint(lg) {
      &,
      img {
        width: $item-details-image-size;
      }

      img {
        height: $item-details-image-size;
        object-fit: contain;
      }
    }
  }

  .meli-column-details {
    flex: 1;
  }

  .meli-conditions-and-sold-quantity {
    font-size: $item-details-conditions-font-size;
    line-height: 1;
    color: $item-details-color;
  }

  h1 {
    font-size: $item-details-title-font-size;
    color: $item-details-color;
    margin: $item-details-margin 0 $item-details-margin-large 0;
  }

  .meli-price {
    font-size: $item-details-price-font-size;
    color: $item-details-color;
    margin-bottom: $item-details-margin-large;

    sup {
      font-size: $item-details-price-font-size * 0.4;
      line-height: 1;
    }
  }

  .meli-description {
    color: $item-details-description-color;
    font-size: $item-details-margin;
    overflow: hidden;

    & > h2 {
      font-size: $item-details-description-font-size;
      color: $item-details-color;
      margin: $item-details-margin-large 0;
    }
  }
}
